.navbar {
    background-color: #131212;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
    font-size: 16px;
  }
  
  a:hover {
    color: lightgray;
  }
  