.quotes-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.quotes-header {
  font-size: 24px;
  margin-top: 40px;
}

.quotes-list {
  list-style: none;
  padding: 0;
}

.quote-item {
  font-size: 14px;
  margin-bottom: 10px;
  }


.quote-item-container {
  margin-bottom: 10px;
}
