
.homepage-body {
  margin: 0;
  padding: 0;
  background-image: url('https://r4.wallpaperflare.com/wallpaper/902/129/66/middle-earth-the-lord-of-the-rings-map-cartography-wallpaper-e9d0689d117acdbba697888fb051a6bd.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif; 
  color: white; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-container {
  text-align: center;
  padding: 20px;
}


.homepage-title {
  font-size: 130px;
  font-family: 'Brush Script MT', cursive;
  color: goldenrod; 
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  
}
