.character-details-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://r4.wallpaperflare.com/wallpaper/902/129/66/middle-earth-the-lord-of-the-rings-map-cartography-wallpaper-e9d0689d117acdbba697888fb051a6bd.jpg');
  background-size: cover;
  background-position: center;
}

.character-details-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8); 
}

.character-nameplate {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
  color: goldenrod;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.character-detail {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.character-link {
  color: goldenrod;
  font-size: 20px; 
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.quotes-header {
  font-size: 35px;
  margin-top: 40px;
  text-align: center;
  color: goldenrod;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.quotes-list {
  list-style: none;
  padding: 0;
  text-align: center;

}

.quote-item {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  }


.quote-item-container {
  margin-bottom: 10px;
}


  